*, ::before, ::after {
	/* RESET */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth; /* scroll plus doux*/
}

body {
	font-family: Roboto, Helvetica, sans-serif;
	background: whitesmoke;
}

/*********************** NAVIGATION *******************/

nav {
	position: fixed;
	z-index: 1000;
	/*couche de position*/
	width: 100%;
	height: 70px;
	background: rgb(245, 96, 96);
	transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
	/*prend plusieurs propriété*/
}

nav.anim-nav {
	background: rgb(245, 96, 96);
	border-bottom: 2px solid black;
}

nav ul {
	width: 100%;
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	margin: 0 15px;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: whitesmoke;
	text-transform: uppercase;
	/*Majuscule*/
}

/****************** ACCUEIL FONDU ***********************/

.accueil {
	height: 800px;
	display: flex;
	overflow: hidden;
	/*cache se qu'il dépasse*/
}

.bloc-gauche-accueil {
	position: relative;
	width: 40%;
	height: 100%;
	background: rgb(245, 96, 96);
	box-shadow: 90px 0 100px 100px rgb(245, 96, 96);
	/* le flou*/
}

h1 {
	color: whitesmoke;
	font-family: Montserrat, Roboto, Helvetica, sans-serif;
	font-size: 65px;
	padding-top: 200px;
	padding-bottom: 20px;
	margin-left: 8vw;
	white-space: nowrap;
}

.accueil p {
	color: whitesmoke;
	font-size: 30px;
	text-align: justify;
	width: 600px;
	margin-left: 8vw;
	line-height: 1.3;
}

.cont-btn-home {
	display: flex;
}

.btn-accueil {
	font-size: 18px;
	text-align: center;
	color: whitesmoke;
	padding: 15px;
	text-decoration: none;
	border-radius: 5px;
	outline: none;
	border: none;
	margin-top: 40px;
	border: 1px solid whitesmoke;
	width: 150px;
	cursor: pointer;
}

.btn-accueil:hover {
	transition: all 0.2s ease;
	color: rgb(245, 96, 96);
	background: whitesmoke;
}

.b1 {
	margin-left: 8vw;
}

.b2 {
	margin-left: 10px;
}

.bloc-droit-accueil {
	background-image: url(ressources/gym-accueil.jpg);
	width: 60%;
	height: 100%;
	background-position: 70% 10%;
	/*position de l'image X et Y*/
}

/******************** SECTION INFO ***************************/

.titre-section-info {
	color: black;
	text-align: center;
	font-size: 65px;
	padding: 50px 20px 120px;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.section-info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* plus de place, les éléments passe en dessous les uns des autres*/
	width: 100%;
	margin: 0 auto;
	background: whitesmoke;
	position: relative;
}

.carte-info {
	width: 350px;
	height: auto;
	margin: 0 15px 80px;
	box-shadow: 0 20px 30px rgba(245, 96, 96, 0.4);
	position: relative;
	z-index: 100;
}

.container-photo-info img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.carte-info h2 {
	color: rgb(245, 96, 96);
	text-align: center;
	font-size: 25px;
	padding: 20px 5px;
}

.carte-info p {
	color: #333;
	text-align: center;
	font-size: 23px;
	padding: 0 5px 15px;
}

.deco-infos {
	position: absolute;
	z-index: -1;
	/* en dessous des éléments*/
	top: -70px;
	left: -100px;
}

/********************* SECTION CHOIX ***********************/

#choix {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(245, 96, 96);
}

.entrainement-choix {
	width: 30%;
	text-align: center;
	color: whitesmoke;
	margin: 50px 20px 70px;
}

.entrainement-choix h3 {
	font-size: 50px;
	margin-bottom: 20px;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.entrainement-choix p {
	font-size: 18px;
	width: 70%;
	margin: 0 auto 30px;
}

.btn-outline-choix {
	width: 300px;
	padding: 15px 0;
	font-size: 22px;
	background: rgb(245, 96, 96);
	color: whitesmoke;
	border: 1px solid whitesmoke;
	cursor: pointer;
}

.btn-outline-choix:hover {
	transition: all 0.2s ease-in-out;
	background: whitesmoke;
	color: rgb(245, 96, 96);
}

/******************** SECTION ÉQUIPEMENTS *********************/

.titre-equipements {
	border-top: 1px dashed black;
	/*dashed, pointillé*/
	text-align: center;
	font-size: 70px;
	color: black;
	padding: 50px 0;
	text-transform: uppercase;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#equipement {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1300px;
	min-width: 300px;
	margin: 0 auto 100px;
}

.btn-modale {
	width: 350px;
	height: 400px;
	border: none;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-modale:nth-child(1) {
	background-image: url(ressources/img1-equip.jpg);
}

.btn-modale:nth-child(2) {
	background-image: url(ressources/img2-equip.jpg);
}

.btn-modale:nth-child(3) {
	background-image: url(ressources/img3-equip.jpg);
}

.btn-modale:nth-child(4) {
	background-image: url(ressources/img4-equip.jpg);
}

.btn-modale:nth-child(5) {
	background-image: url(ressources/img5-equip.jpg);
}

.btn-modale:nth-child(6) {
	background-image: url(ressources/img6-equip.jpg);
}

.btn-modale:nth-child(7) {
	background-image: url(ressources/img7-equip.jpg);
}

.btn-modale:nth-child(8) {
	background-image: url(ressources/img8-equip.jpg);
}

.btn-modale:nth-child(9) {
	background-image: url(ressources/img9-equip.jpg);
}

.bloc-modale {
	position: fixed;
	/*pour faire prendre tous l'espace disponible 0*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(245, 96, 96, 0.4);
	/*filtre pour mieux voir l'image*/
	z-index: 1000;
	display: none;
	/*uniquement quans on clic dessus*/
}

.active-modale {
	display: block;
}

.bloc-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*centrer un absolute*/
	width: 800px;
	height: 500px;
}

.bloc-modale img {
	width: 100%;
}

.fermeture-modale {
	position: absolute;
	z-index: 4000;
	top: 5%;
	right: 5%;
	width: 60px;
	height: 60px;
	font-size: 22px;
	color: white;
	background: red;
	border-radius: 50%;
	cursor: pointer;
	border: none;
}

/****************** PARALLAX ******************/

.parallax {
	background-image: url(ressources/img-paral.jpg);
	background-attachment: fixed;
	/* fixe l'image quand on bouge*/
	background-position: center;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-txt {
	font-size: 100px;
	color: rgb(245, 96, 96);
	text-align: center;
	font-weight: 700;
}

/****************** SECTION TARIFS ********************/

.titre-tarifs {
	background: whitesmoke;
	font-size: 50px;
	text-align: center;
	padding: 50px 0;
}

#tarifs {
	background: whitesmoke;
	display: flex;
	/*système de carte*/
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/*passe à la ligne*/
	/*width: 85%;
	à 70% il me décale le 3eme*/
	max-width: 1300px;
	min-width: 300px;
	/*minumum 320px prtble*/
	margin: 0 auto 100px;
}

.carte-tarif {
	width: 350px;
	height: auto;
	/*https://www.gradientmagic.com*/
	background-image: linear-gradient(45deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(184, 111, 110) 68%, rgb(184, 111, 110) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(112.5deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(184, 111, 110) 68%, rgb(184, 111, 110) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(90deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(184, 111, 110) 68%, rgb(184, 111, 110) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(135deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(184, 111, 110) 68%, rgb(184, 111, 110) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(90deg, rgb(100, 205, 26), rgb(46, 36, 113));
	background-blend-mode: overlay, overlay, overlay, overlay, normal;
	color: whitesmoke;
	margin: 20px 10px;
	border-radius: 5px;
}

.carte-tarif h3 {
	text-align: center;
	color: rgb(245, 96, 96);
	font-size: 45px;
	margin: 25px 0;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	position: relative;
}

.prix-carte {
	text-align: center;
	font-size: 30px;
	margin: 25px 0;
}

.prix-carte span {
	font-size: 80px;
	position: relative;
}

.prix-carte span::after {
	/*placer le € avec position: absolute;top: 10px; */
	content: "€";
	display: block;
	position: absolute;
	top: 10px;
	right: -20px;
	font-size: 25px;
}

.infos-carte {
	width: 170px;
	margin: 20px auto 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 22px;
}

.infos-carte img {
	margin-right: 7px;
	width: 20px;
}

/***************** SECTION FORMULAIRE *************/

.titre-contact {
	border-top: 1px dashed black;
	text-align: center;
	font-size: 50px;
	padding: 50px 0;
}

form {
	width: 50%;
	margin: 0 auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding-bottom: 100px;
	position: relative;
}

label, input {
	color: rgb(245, 96, 96);
	width: 100%;
	font-size: 20px;
	margin: 5px 0;
}

form input {
	padding: 10px 5px;
}

input:nth-child(4) {
	/*input nom*/
	margin-bottom: 20px;
}

textarea {
	width: 100%;
	height: 200px;
	font-size: 20px;
	padding: 15px;
}

label:nth-child(5) {
	/*textarea*/
	margin-bottom: 10px;
}

.form-btn {
	display: block;
	margin: 20px auto;
	padding: 10px;
	font-size: 18px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid black;
}

.form-btn:hover {
	color: whitesmoke;
	background: rgb(245, 96, 96);
	border: 1px solid whitesmoke;
}

/********************* FOOTER ********************/

footer {
	text-align: center;
	padding: 15px 0;
	border-top: 1px dashed #000;
}

/************************ MEDIA QUERIES *****************************/

/*************** Navigation *********************/

@media screen and (max-width: 550px) {
	nav li {
		margin: 0 8px;
	}
	nav a {
		font-size: 15px;
	}
}

/****************** Acceuil Fondu *****************/

@media screen and (max-width: 1350px) {
	.bloc-gauche-accueil {
		width: 60%;
	}
	.bloc-droit-accueil {
		background-position: 72% 10%;
	}
}

@media screen and (max-width: 850px) {
	.accueil {
		height: 600px;
	}
	h1 {
		font-size: 50px;
		padding-top: 120px;
	}
	.accueil p {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.btn-accueil {
		font-size: 18px;
		padding: 12px;
		margin-top: 20px;
	}
	.bloc-gauche-accueil {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.accueil {
		height: 450px;
	}
	h1 {
		font-size: 35px;
		padding-top: 100px;
		margin-left: 2vw;
	}
	.accueil p {
		font-size: 20px;
		margin-left: 2vw;
		margin-bottom: 15px;
	}
	.btn-accueil {
		padding: 8px;
		font-size: 16px;
	}
	.b1 {
		margin-left: 2vw;
	}
	.b2 {
		margin-left: 10px;
	}
	.bloc-gauche-accueil {
		box-shadow: 20px 0 100px 100px rgb(245, 96, 96);
		width: 40%;
	}
}

/******************** Section Info ***************************/

@media screen and (max-width: 1300px) {
	.deco-infos {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.titre-section-info {
		font-size: 50px;
	}
}

@media screen and (max-width: 550px) {
	.titre-section-info {
		font-size: 32px;
		padding: 40px 20px 40px;
	}
	.carte-info {
		margin: 0 10px 45px;
	}
}

/******************** Section Choix ***************************/

@media screen and (max-width: 1200px) {
	.entrainement-choix {
		width: 400px;
	}
}

@media screen and (max-width: 775px) {
	#choix {
		flex-direction: column;
	}
	.entrainement-choix h3 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.btn-outline-choix {
		width: 250px;
	}
	.entrainement-choix {
		width: 350px;
		margin: 50px 0px 70px;
	}
	.entrainement-choix:nth-child(1) {
		/*1er enfant*/
		margin: 50px 20px 0px;
	}
}

/******************** Section Équipements *********************/

@media screen and (max-width: 850px) {
	.titre-equipements {
		font-size: 45px;
	}
}

@media screen and (max-width: 500px) {
	.titre-equipements {
		font-size: 35px;
	}
}

/****************** Parallax ******************/

@media screen and (max-width: 550px) {
	.parallax-txt {
		font-size: 50px;
	}
}

/***************** Section Formulaire *************/

@media screen and (max-width: 1100px) {
	#contact {
		width: 80%;
	}
}